@page "/administration/challenges/add"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, SuperAdmin")]

@if (ShowError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}
<div class="add-container">
    <div class="my-4">
        <EditForm Model="@ChallengeVM" OnValidSubmit="OnSubmit">

            <DataAnnotationsValidator />
            <div class="row my-2 mx-2">
                <div class="col-25">
                    <label for="CategoryId">Kategoria</label>
                </div>
                <div class="col-75">
                    <InputSelect name="CategoryId" id="CategoryId" class="form-control" @bind-Value="@ChallengeVM.CategoryId">
                        @foreach (var category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => ChallengeVM.CategoryId)" />
                </div>
            </div>
            <div class="row my-2 mx-2">
                <div class="col-25">
                    <label for="title">Tytuł wyzwania</label>
                </div>
                <div class="col-75">
                    <InputText name="title" id="title" class="form-control" @bind-Value="@ChallengeVM.Title"></InputText>
                    <ValidationMessage For="@(() => ChallengeVM.Title)" />
                </div>
            </div>

            <div class="row my-2 mx-2">
                <div class="col-25">
                    <label for="content">Treść wyzwania</label>
                </div>
                <div class="col-75">
                    <InputText name="content" id="content" class="form-control" @bind-Value="@ChallengeVM.Content"></InputText>
                    <ValidationMessage For="@(() => ChallengeVM.Content)" />
                </div>
            </div>

            <div class="row my-2 mx-2">
                <div class="col-25">
                    <label for="count">Ilość do wykonania</label>
                </div>
                <div class="col-75">
                    <InputNumber name="count" id="count" class="form-control" @bind-Value="@ChallengeVM.Count"></InputNumber>
                    <ValidationMessage For="@(() => ChallengeVM.Count)" />
                </div>
            </div>

            <div class="row my-2 mx-2">
                <div class="col-25">
                    <label for="reward">Nagroda</label>
                </div>
                <div class="col-75">
                    <InputNumber name="reward" id="reward" class="form-control" @bind-Value="@ChallengeVM.Reward"></InputNumber>
                    <ValidationMessage For="@(() => ChallengeVM.Reward)" />
                </div>
            </div>


            <div class="d-flex justify-content-center flex-row my-2">
                <input type="submit" class="btn btn-primary" value="Zapisz">
            </div>
        </EditForm>
    </div>
</div>


@code {

}
