@page "/challenges"

<div class="challenges-container">
    @foreach (var item in challenges)
    {
        <div class="d-flex m-3 flex-column challenge-card">
            <div class="mx-3 my-1 d-flex justify-content-between">
                <b>@item.Title</b>
                <div>
                    <b>Nagroda: @item.Reward</b>
                </div>
            </div>
            <div class="m-3"> @item.Content </div>
            <div class="m-3 d-flex flex-row justify-content-between">
                <RadzenProgressBar Style="width: 65%;" Value="@item.Percentage"></RadzenProgressBar>
                @if (item.Status == 2)
                {
                    <b>Zakończone</b>
                }
                else
                {
                    <RadzenButton Style="width: 28%;" Text="Zakończ wyzwanie" Disabled="@(item.WonMatches<item.Count)" Click="async() => await EndChallenge(item.ChallengeId)"/>
                }

            </div>
        </div>
    }


</div>