@page "/administration/categories"

    

    <div>
        <RadzenTooltip />
    </div>

    <div>
        <RadzenDialog />
    </div>


    <div class="categories-container">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Dodaj" Click="@Add" />


        <RadzenGrid @ref="categoriesGrid" Count="@count" Data="@categories" LoadData="@LoadData" AllowSorting="true" AllowFiltering="true" AllowPaging="true" TItem="Quiz.Shared.Category" PageSize="50" ColumnWidth="400px">
            <Columns>
                <RadzenGridColumn TItem="Quiz.Shared.Category" Property="Id" Title="CategoryId" Visible="false" />
                <RadzenGridColumn TItem="Quiz.Shared.Category" Property="Name" Title="Nazwa" />
                <RadzenGridColumn TItem="Quiz.Shared.Category" Context="category" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                    <Template Context="category">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => Edit(category))"
                                      MouseEnter="@(args => ShowTooltip(args,new TooltipOptions(){ Position = TooltipPosition.Bottom , Style="background-color: #052867"},"Edytuj"))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Quiz.Shared.Category" Context="category" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                    <Template Context="category">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small"
                                      Click=@(args => ShowInlineDialog(category.Id,category.Name))
                                      MouseEnter="@(args => ShowTooltip(args,new TooltipOptions(){ Position = TooltipPosition.Bottom , Style="background-color: #052867"},"Usuń"))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>

    </div>


    @code {
        void ShowTooltip(ElementReference elementReference, TooltipOptions options = null, string message = "") => tooltipService.Open(elementReference, message, options);

        async Task ShowInlineDialog(Guid categoryId, string name) => await DialogService.OpenAsync("Usuwanie", ds =>
        @<div>
            <p Style = "margin-bottom: 1rem" > Czy na pewno chcesz usunąć tą kategorię? <b> @name </b></p>
            <div class="d-flex justify-content-center">
                <RadzenButton Text = "Tak" Click="(async() => { ds.Close(true); await Close(true, categoryId); })" Style=" margin: 0 10px 10px 10px" />
                <RadzenButton Text = "Anuluj" Click="(() => { ds.Close(false); })" ButtonStyle="ButtonStyle.Secondary" Style="margin: 0 10px 10px 10px; " />
            </div>
        </div>, new DialogOptions() { Left = "20vw", Top = "30%" });



        async Task Close(bool result, Guid categoryId)
        {
            if (result)
            {
                var response = await CategoryService.Delete(categoryId);
                if (response.IsSuccessful)
                {
                    await categoriesGrid.Reload();
                }

            }

        }





    }